.oela-content {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    color: $text-color;
    min-height: 100vh;
    margin-bottom: 0px;

    a {
        color: $red;

        &:hover {
            color: $header-color;
        }
    }

    h1, h2 {
        font-weight: bold;
    }

    section.head-image {
        display: block;
        position: relative;
        margin-top: 180px;

        img {
            width: 100%;
            border: 0px;
        }
    }

    .box {
        @include oela-box;
    }

    .home-features {
        height: 400px;
        padding: 50px 0;
        position: relative;

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: 0px;
            padding-right: 0px;
        }

        .header-block {
            display: block;
            background-color: $black;
            -khtml-opacity: .60;
            -moz-opacity: .60;
            -ms-filter: ”alpha(opacity = 60) ”;
            filter: alpha(opacity = 60);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
            opacity: .60;
            width: 100%;
            height: 60px;
            position: relative;
        }

        h2 {
            display: block;
            text-align: left;
            position: absolute;
            top: 63px;
        }

        h3 {
            font-size: 22px;
            font-weight: bold;
        }

        .text-block {
            display: block;
            position: relative;
            margin-top: 30px;
        }

        ul {
            display: block;
            list-style: none;
            padding: 0;
            width: 100%;

            li {
                display: block;

                a {
                    display: block;
                    color: $white !important;
                    text-decoration: none;

                    &:hover {
                        color: $light-grey;
                        text-decoration: underline;
                    }
                }
            }
        }

        .view {
            @include oela-btn;

            display: block;
            float: right;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    section.home-documents {
        background-color: $forest-green;
        color: $white;
        background-image: url("../images/documents-right-image.png");
        background-size: 582px 400px;
        background-repeat: no-repeat;
        background-position: right center;
    }

    section.home-forums {
        background-color: $cornflower;
        color: $white;
        background-image: url("../images/forums-right-image.png");
        background-size: 582px 400px;
        background-repeat: no-repeat;
        background-position: right center;
    }
}
