.oela-header {
    padding: 0px;

    .logo {
        display: block;

        img {
            display: inline-block;
            height: 100px;
        }

        .logo-text {
            h1 {}

            p {
                font-size: 12px;
                display: block;
                padding: 0px;
                margin: 0;
            }
        }
    }

    span.loginLabel {}

    .go {
        @include oela-btn;

        display: block;
        width: 100%;
    }

    a {
        &:hover {}
    }

    nav.navbar {
        background-color: $header-color;
        margin-top: 0px;
        padding: 0px;
        width: 100%;

        .navbar-header {
            img {}

            button {
                .icon-bar {}
            }
        }

        #navbar {
            margin-top: 100px;
            padding: 0px;
            width: 100% !important;

            ul.navbar-nav {
                margin: 0px;
                width: 100%;

                .navbar-form {
                    margin-left: 0px;
                    margin-right: 0px;
                }

                li {
                    width: 100%;

                    a {
                        &:hover {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }
}
