.oela-header {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    color: $white;
    padding: 20px 0 0;
    height: 145px;
    background-color: $header-color;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    .logo {
        display: block;

        img {
            display: inline-block;
            height: 100px;
        }

        .logo-text {
            display: inline-block;
            font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
            text-align: left;
            color: $white;

            h1 {
                font-size: 28px;
                display: block;
                text-transform: uppercase;
                margin: 0;
            }

            p {
                font-size: 12px;
                display: block;
                padding: 0px;
                margin: 0;
            }
        }
    }

    span.loginLabel {
        display: inline-block;
        margin-right: 30px;
        text-decoration: underline;
    }

    .go {
        @include oela-btn;

        display: inline-block;
        height: 36px;
        background-color: $dark-blue;
    }

    a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: $light-grey;
        }
    }

    nav.navbar {
        background-color: $red;
        border: none !important;
        margin-top: 20px;
        border-radius: 0px;
        padding: 0px;

        .navbar-header {
            img {
                display: block;
                max-height: 100px;
            }

            button {
                border: 1px solid $white;

                .icon-bar {
                    background-color: $white !important;
                }
            }
        }

        #navbar {
            padding-left: 0;
            padding-right: 0;

            ul.navbar-nav {
                float: none;
                width: 100%;
                display: block;

                .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
                    background-color: $dark-red;
                    border: none;
                }

                li {
                    width: 25%;
                    text-align: center;
                    font-size: 20px;

                    a {
                        &:hover {
                            background-color: $dark-red;
                        }

                        &:focus {
                            background-color: $dark-red;
                        }
                    }
                }

                li.dropdown > ul.dropdown-menu {
                    width: 100%;
                    text-align: -webkit-center;
                    padding: 0px;
                    margin-top: -1px;

                    li {
                        display: block;
                        width: 100%;

                        a {
                            color: $white;
                            background-color: $dark-blue;
                            width: 100%;
                            padding: 10px;

                            &:hover {
                                color: $black;
                                background-color: $dark-grey;
                            }
                        }
                    }
                }
            }
        }
    }
}
