$header-color: #51667f;
$red: #891e1e;
$dark-red: #501111;
$white: #fff;
$black: #000;
$text-color: #333;
$light-green: #418971;
$blue-green: #265a5f;
$forest-green: #425c47;
$slate: #78868c;
$cornflower: #373f53;
$light-grey: #eee;
$dark-grey: #9b9c9c;
$dark-blue: #0c2340;

.home-section-pad {
    padding: 20px;
}
