// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$header-color: #51667f;
$red: #891e1e;
$dark-red: #501111;
$white: #fff;
$black: #000;
$text-color: #333;
$light-green: #418971;
$blue-green: #265a5f;
$forest-green: #425c47;
$slate: #78868c;
$cornflower: #373f53;
$light-grey: #eee;
$dark-grey: #9b9c9c;
$dark-blue: #0c2340;

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

#oela-wrap {
    display: block;
    min-height: 100vh;
    position: relative;
}

// YOU CAN DECLARE REUSABLE CLASSES HERE

.row {
    margin-left: 0;
    margin-right: 0;
}

@mixin oela-box {
    display: block;
    color: $white;
    padding: 20px;
    min-height: 360px;
    width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;

    img {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100px;
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
        display: block;
        position: relative;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        display: block;
        text-align: left;
        position: relative;
    }

    a {
        display: block;
        float: right;
        text-transform: uppercase;
        color: $white !important;

        &:hover {
            color: $light-grey;
            text-decoration: underline;
        }
    }
}

@mixin oela-btn {
    background-color: $red;
    color: $white;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: $light-grey;
        color: $text-color !important;
        text-decoration: none;
    }
}

.center {
    text-align: center !important;
}

.nav-width {
    width: 80% !important;
}

.full-width {
    width: 100%;
    display: block;
}

.no-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

.bg-blue {
    background-color: $header-color;
    color: $white;
}

.bg-light-green {
    background-color: $light-green;
    color: $white;
}

.bg-blue-green {
    background-color: $blue-green;
    color: $white;
}

.bg-forest-green {
    background-color: $forest-green;
    color: $white;
}

.bg-slate {
    background-color: $slate;
    color: $white;
}

.home-section-pad {
    padding: 50px;
}

//////////////////////////// MODAL STYLES ///////////////////////////

///////////////////// FIX THE PAGE JUMP WHEN THE MODAL OPENS //////////////////////

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

///////////////////// END FIX THE PAGE JUMP WHEN THE MODAL OPENS //////////////////////

.modal-backdrop.in {
    background-color: $white;
    -khtml-opacity: .80;
    -moz-opacity: .80;
    -ms-filter: ”alpha(opacity = 80) ”;
    filter: alpha(opacity = 80);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
    opacity: .80;
}

.modal-title {
    color: $white;
    text-align: center;
    text-transform: uppercase;
    border: 0px;
}

.modal-header {
    background-color: $red;
    border: none;
}

.modal-body {
    background-color: $header-color;
    color: $white;

    h1, h2 {
        color: $white;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
        color: $white;
    }

    a {
        color: $white;
        text-decoration: underline;

        &:hover {
            color: $light-grey;
        }
    }

    .form-row {
        padding: 15px 0px;
    }

    .inline {
        display: inline-block !important;

        &:first-child {
            margin-right: 20px;
        }
    }

    .oela-btn {
        @include oela-btn;
    }

    #pnlForgot {
        margin: 20px 0 0;
        background-color: $dark-blue;
        padding: 10px 15px;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        h2 {
            font-size: 24px;
            display: block;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

//////////////////////////// END MODAL STYLES ///////////////////
